.sun{
  background-color: #FFC940;
  height: 140px;
  width: 140px;
  border-radius: 50%;
  position: relative;
  left: 250px;
  bottom: 400px;
  //filter: blur(1px);
  animation: spin 60s infinite;
  box-shadow: 0 0 10px orange,
  0 0 60px orange,
  0 0 200px yellow,
  inset 0 0 80px yellow;
}

.sunlight{
  background: #FFC940;
  height: 50px;
  width: 10px;
  border-radius: 50%;
  filter: blur(3px);

}
.z1, .z2, .z3,.z4,.z5,.z6,.z7,.z8{
  position: absolute;
}
.z1{
  left: 50%;
  top: -50px;
}
.z2{
  right: 50%;
  bottom: -50px;
}
.z3{
  bottom: -20px;
  left: 5%;
  transform: rotate(40deg);
}
.z4{
  top: -20px;
  right: 5%;
  transform: rotate(40deg);
}
.z5{
  top: 50px;
  right: -20%;
  transform: rotate(90deg);
}
.z6{
  bottom: 50px;
  right: 150px;
  transform: rotate(90deg);
}
.z7{
  transform: rotate(130deg);
  top: -20px;
  right: 130px;
}
.z8{
  transform: rotate(130deg);
  top: 110px;
  right: -5px;
}
@keyframes spin {
  100%{
    transform: rotate(360deg);
  }
}
.sun_description{
  display: none;
  position: absolute;
  color: orange;
  font-weight: bold;
  left: 20px;
  bottom: 50px;
  z-index: 100;

}
.sun:hover >p {
  display: block;
}

.sun:hover{
  transform: scale(1.2);
}