body {
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
  min-height: 100vh;
  margin: 0;
  background-image: url("../../images/6104.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}





